RewriteEngine On
RewriteBase /MusicManagementOOPS/

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Exclude "action" directory and authenticate.php from rewriting
RewriteCond %{REQUEST_URI} !^/MusicManagementOOPS/routes/ [NC]
RewriteCond %{REQUEST_URI} !^/MusicManagementOOPS/authenticate.php$ [NC]

# Redirect all other requests to index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]